<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDaIk0RyY1MR0_nzA9-_SeweaoE1-dv2JY</string>
	<key>GCM_SENDER_ID</key>
	<string>41236700093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plantsApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ai-plants-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-plants-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41236700093:ios:79b1430cb2ea623e6c90d4</string>
</dict>
</plist>